<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>conversion</display-name>
  <servlet>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.currency.convetor.controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.currency.convetor.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <display-name>CurrencyListController</display-name>
    <servlet-name>CurrencyListController</servlet-name>
    <servlet-class>com.currency.convetor.controller.CurrencyListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrencyListController</servlet-name>
    <url-pattern>/CurrencyListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>com.currency.convetor.controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.currency.convetor.controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CurrencyCalculations</display-name>
    <servlet-name>CurrencyCalculations</servlet-name>
    <servlet-class>com.currency.convetor.controller.CurrencyCalculations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrencyCalculations</servlet-name>
    <url-pattern>/CurrencyCalculations</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CurrencyController</display-name>
    <servlet-name>CurrencyController</servlet-name>
    <servlet-class>com.currency.convetor.controller.CurrencyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrencyController</servlet-name>
    <url-pattern>/CurrencyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
     <welcome-file>login.html</welcome-file>
    <welcome-file>profile.jsp</welcome-file>
    <welcome-file>conversion_page.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>resetpassword.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>currency_management.jsp</welcome-file>
  </welcome-file-list>
</web-app>